Flask==3.0.2
Flask-CORS==4.0.0
PyMongo==4.6.2
PyJWT==2.8.0
bcrypt==4.1.2
TextBlob==0.18.0.post0
vaderSentiment==3.3.2
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
selenium==4.18.1
undetected-chromedriver==3.5.5
beautifulsoup4==4.12.3
gunicorn==21.2.0
python-dotenv==1.0.1
